<h3>{{wordCount}} Words</h3>
<div class="grid grid-pad">
  <div class="col-1-4">
    <div class="module" style="background-color: orange;">
      <h4 class="secondary">Biased Word</h4>
      <h4 class="primary">Suggested Replacement</h4>
    </div>
  </div>
  <div *ngFor="let word of words" class="col-1-4">
    <div class="module word">
      <h4 class="secondary">{{word.is}}</h4>
      <h4 class="primary">{{printReplacement(word)}}</h4>
    </div>
  </div>
</div>
