[class*='col-'] {
  float: left;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  font-size: 18px;
  padding: 20px;
  margin: 0;
}

.primary {
  font-size: 20px;
  font-weight: bolder;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.secondary {
  font-weight: lighter;
  text-align: left;
}
[class*='col-'] {
  padding-right: 30px;
  padding-bottom: 30px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 20%;
}
.module {
    text-align: center;
    color: #eee;
    height: 125px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
    position: relative;
}
h4 {
  position: relative;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 1200px) {
    .col-1-4 {
      width: 25%;
    }
}

@media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
      height: 125px;
    }
    .col-1-4 {
      width: 33%;
    }
}
@media (max-width: 700px) {
    .module {
      font-size: 10px;
    }
    .col-1-4 {
      width: 50%;
    }
}
@media (max-width: 400px) {
    .col-1-4 {
      width: 100%;
    }
}
@media (max-width: 300px) {
    .module {
      height: 150px;
    }
}
