<h2>My Words</h2>
<ul class="heroes">
  <li *ngFor="let word of words"
    [class.selected]="word === selectedWord"
    (click)="onSelect(word)"
  >
    <span class="badge">{{word.id}}</span> {{word.is}}
  </li>
</ul>
<div *ngIf="selectedWord">
  <h2>
    {{selectedWord.is | uppercase}} is my word
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
