<div *ngIf="word">
  <h2>Word details: {{word.is}}</h2>
  <div>
    <label>bias: </label>{{word.bias}}
  </div>
  <div>
    <label>gender: </label>{{word.isGender}}
  </div>
  <div>
    <label>part(s) of speech: </label>{{word.speechPart}}
    <br><br>
  </div>
  <div>
    <label>neutral replacement: </label>{{word.replaceWith.neutral}}
  </div>
  <div>
    <label>female replacement: </label>{{word.replaceWith.female}}
    <br><br>
  </div>
  <button (click)="goBack()">Back</button>
</div>
